@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products,
.team,
.reports,
.messages,
.messages-1,
.messages-2,
.support,
.users,
.revenue {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.element-container {
  margin-left: 260px;
  height: 80vh;
}

.sidebar {
  width: 100%;
}

.sidebar-closed .element-container {
  margin-left: 0;
  width: 100%;
}

